.link.active {
    background: #0f766e;
    color: #ffffff;
}


/*==== Category Link ====*/
.category-link {
    position: relative;
    padding: 5px 0;
    font-size: 18px;
    transition: width 0.5s  linear;

}
.category-link:hover {
    color: #0f766e;
}
.category-link::after {
    content : '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s  linear;
    background: #0f766e;
}
.category-link:hover::after {
    width: 100%;
}
.category-link.active {
    color: #0f766e;
}
.category-link.active::after {
    width: 100%;
}


/* ===== Checkbox in Register page role  =====*/
.selected {
    transition: all 0.2s ease-in-out;
}
input[type='radio']:checked + .selected {
    background: #0d9488;
    color: #fff;
}
.tab_link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom:0 ;
    background: #0d9488;
    width: 4px;
    height: 100%;
    display: none;
    animation: fill 0.4s;
}
.tab_link.active{
    background: #ffffff;

}
.tab_link.active::before{
    display: block;
}
@keyframes fill {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

.content.active {
    animation: move 0.4s linear;
}
@keyframes move {
    0% {
        transform: translateY(6%);
    }
    100% {
        transform: translateY(0%);
    }
}


/* Apply styles to pagination links */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    background: #fff;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a,
.pagination li span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    text-decoration: none;

}

.pagination li a:hover {
    background-color: #ddd;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
}

.pagination .disabled span {
    background-color: #f0f0f0;
    color: #ccc;
    cursor: not-allowed;
}

/* Loader */

/* HTML:  */
.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #0d9488;
    --_m:
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

